/* SASS */

html, body {
  height: 100%;
  width: 100%;
}

#route-map {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: relative;
}

.control-panel {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 80px;
  background-color: white;
  color: #464646;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  width: 520px;
  flex-wrap: nowrap;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  span {
    display: block;
    text-align: center;
  }

  .case-counter {
    background-color: darkcyan;
    flex-basis: 100px;
    padding: 10px;

    #case-count {
      color: white;
      text-align: center;
      line-height: 30px;
      height: 30px;
    }

    #case-count-label {
      line-height: 30px;
      font-size: 12px;
      color: #fafafa;
      height: 30px;
      text-align: center;
    }
  }

  .date {
    flex-basis: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }

  #speed {
    height: 40px;
    width: 200px;
    margin: 0 20px;
  }

  .controls {
    flex-basis: 160px;
    display: flex;
    flex-wrap: nowrap;

    div {
      border-left: 1px solid #cccccc;
      height: 80px;
      text-align: center;

      i {
        font-size: 40px;
        line-height: 80px;
      }
    }

    #control-play-pause, #control-play, #control-pause, #control-stop {
      flex-basis: 80px;
      cursor: pointer;
    }

    #control-pause {
      display: none;
    }
  }
}

svg {
  .node {
    z-index: 10;
  }
}
